*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid blue; */
    }


body {
    background-color: gray;
    background-image: url('assets/background.png');
    background-repeat: no-repeat;
}
/* the main container */

.card{
  width: 280px;
  height: 440px;
  margin: 50px  auto;
  box-shadow: 3px 6px 16px 0px #17161694;
  background-color:EDDBB5;
  border-radius: 10px;
}

.card1{
}

.card2{
  padding-top: 60px;

}

.image{
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: 2px solid white;
  padding: 10px;
  padding-bottom: 10px;
}

.icons{
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.icons:hover{
  filter:brightness(0%);
  cursor: pointer;
} 

.icons2{
  width: 18px;
  margin-left: auto;
  margin-right: 12px;
}

.row{
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  display: flex;
  width: 70%;
}

.column{
  flex:33.33%;
}

h1{
  margin-bottom: 0px;
  font-family: 'Gabriela', serif;
  font-weight: 600;
  text-align: center;
  font-size: 30px;
  position: relative; top: 40px;
  color: #27a59c;
}

h2{
  margin-top: 0px;
  padding-top: 0px;
  font-family: "Gabriela", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  position: relative; top: 10px;
  color: 4C4651;
} 

h3{
  margin-top: 0px;
  margin-right: 18px;
  padding-top: 10px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  position: relative; top: 60px;
}

.linkedin{
  font-size: 20px;
}

.email{
  width: 23px;
  vertical-align: bottom;
  margin-right: 10px;
}

a:link, a:visited {
  color: #0b8577;
  padding: 0px 0px;
  text-align: center;
  text-decoration: none;
}

a:hover {
  color: rgb(0, 151, 206);
  text-decoration-line: underline;
}